.photo, .profile {
  float: left;
}

.profile {
  margin-left: 20px;
}

.profile h1, .profile h2 {
  font-family: Helvetica, Arial, sans-serif;
}

.profile h1 {
  line-height: 0.5;
}

.profile table td:first-child {
  color: gray;
}

.profile .street-address, .profile .street-address {
  /* clearfix */
}